@font-face {
    font-family: Gilroy;
    src: url(./assets/Gilroy-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}

html, body {
    height: 100%;
    width: 100%;
}

#page1 {
    min-height: 100vh;
    max-width: 100vw;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

/* ==============================NAVBAR======================= */

nav {
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h3 {
    padding: 10px 20px;
    border: 1px solid #2d2c2c58;
    border-radius: 50px;
    font-weight: 500;
    color: #383737;
    font-size: 18px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}

#nav-part2 h3::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50px;
    transition: all ease 0.4s;
}

#nav-part2 h3:hover::after {
    bottom: 0;

}

#nav-part2 h3 a {
    text-decoration: none;
    color: #383737;
    z-index: 9;
    position: relative;
}

#nav-part2 h3:hover a {
    color: #ffffff;
}


/* =======================PAGE-1========================= */
#center {
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #2d2c2c58;
    padding-bottom: 2.5vw;
}

#left h3 {
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

#center h1 {
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}

#page1 video {
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    position: relative;
}

#hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 70vh;
}

#hero-1 {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #FE360B;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
}

#hero-2 {
    height: 30vw;
    width: 30vw;
    position: absolute;
    background: linear-gradient(#FE360B, #d25033);
    border-radius: 50%;
    filter: blur(15px);
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#hero-3 {
    height: 30vw;
    width: 30vw;
    position: absolute;
    background: linear-gradient(#FE360B, #d25033);
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}


@keyframes anime1 {
    from{
        transform: translate(55%, -3%);
    }
    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from{
        transform: translate(5%, -5%);
    }
    to {
        transform: translate(-20%, 30%);
    }
}


/* ===========================PAGE-2========================== */
